{% extends 'base.html' %}

{% block title %}出品情報を編集する - メイカリ{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">出品情報を編集する</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- フォーム -->
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.product_name.as_p }}  <!-- 商品名 -->
            </div>
            <div class="col-md-6">
                {{ form.subject.as_p }}  <!-- 教科名 -->
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                {{ form.description.as_p }}  <!-- 説明 -->
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.price.as_p }}  <!-- 価格 -->
            </div>
            <div class="col-md-6">
                {{ form.faculty.as_p }}  <!-- 学部 -->
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.department.as_p }}  <!-- 学科 -->
            </div>
            <div class="col-md-6">
                {{ form.image.as_p }}  <!-- 画像アップロード -->
            </div>
        </div>

        <!-- ボタン -->
        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'mypage:listing_record' %}" class="btn btn-outline-secondary btn-lg">キャンセル</a>
            <button type="submit" class="btn btn-primary btn-lg">更新する</button>
        </div>
    </form>
</div>

{% endblock %}
